<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" >

     <test name="HomePage"> 
		<classes>  	
				<class name="org.amazon.tests.AmazonTests"></class> 
	    </classes> 
  </test> <!-- Test -->
  
  
  <test name="MobilePage">
		<classes>
			<class name="org.amazon.tests.AmazonPayTest"></class>
		</classes>
    </test> <!-- Test -->

	<test name="SearchPage">
		<classes>
			<class name="org.amazon.tests.SearchTest"></class>
		</classes>
    </test> <!-- Test -->
    
    
    <test name="AddCart">
		<classes>
			<class name="org.amazon.tests.AddCartTest"></class>
		</classes>
    </test> <!-- Test -->
    
    
</suite> <!-- Suite -->
